<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram Notification</title>
</head>
<body>
    <h1>Send Notification to Telegram</h1>
    <form action="http://localhost:3000/sendAlert" method="post">
        <label for="alertMessage">Enter Alert Message:</label>
        <input type="text" id="alertMessage" name="alertMessage" required>
        <button type="submit">Send Alert</button>
      </form>
</body>
</html>
